*{
    padding: 0%;
    margin: 0%;
}
section{
    width: 35%;
    height: 100%;
    margin: 5% auto;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(180, 173, 164);
    border: 1px solid black;
}
.photo{
    height:30%;
    width: 30%;
    
}
.photo1{ 
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgb(134, 134, 134);
}
.imgs{
    width: 100%;
    height: 50%;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    width: 40px;
    height: 40px;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.name{
    width: 100%;
    height: 50%;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(243, 106, 106);
}